@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UVNBachDangBold';
  src: url('../fonts/UVNBachDangBold.eot?#iefix') format('embedded-opentype'), url('../fonts/UVNBachDangBold.woff') format('woff'), url('../fonts/UVNBachDangBold.ttf') format('truetype'), url('../fonts/UVNBachDangBold.svg#UVNBachDangBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.imba {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.hamburger {
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 80px;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 32px;
  background: #ffffff;
  opacity: 1;
  left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 9px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 22px;
}
.hamburger span:nth-child(4) {
  top: 35px;
}
.hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}
body,
html {
  overflow-x: hidden;
  font-size: 16px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.w100 {
  width: 100%;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.dt {
  display: table;
}
.dt > div {
  display: table-cell;
  vertical-align: middle;
}
.btn-page {
  display: inline-block;
  margin: 0 auto;
  padding: 3px 20px;
  color: #ffffff;
  text-align: center;
  background: #001e60;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.btn-page:hover {
  color: #ffffff;
  background: #f2b715;
}
.form-group .gj-textbox-md {
  border: 1px solid #ced4da;
  line-height: 1.5;
  padding: .375rem .75rem;
}
.form-group .gj-datepicker-md [role=right-icon] {
  right: 5px;
  top: 50%;
  margin-top: -12px;
}
.wrap-page {
  position: relative;
  z-index: 0;
}
.pagination {
  justify-content: center;
}
.rol {
  font-family: 'Roboto-Light';
}
.robl {
  font-family: 'Roboto-Black';
}
.bdb {
  font-family: 'UVNBachDangBold';
}
header .logo {
  position: fixed;
  top: 27px;
  left: 66px;
  z-index: 10;
}
header .menu {
  position: fixed;
  z-index: 10;
  top: 32px;
  right: 80px;
  margin: 0;
}
header .menu li {
  position: relative;
}
header .menu li a {
  display: block;
  font-size: 1.125em;
  color: #636466;
  text-transform: uppercase;
}
header .menu li a:hover {
  color: #9e7658;
}
header .menu li:after {
  content: '';
  position: absolute;
  width: 9px;
  height: 7px;
  background: url("../img/ic-whoo.png") no-repeat 0 0;
  top: 50%;
  left: -20px;
  margin-top: -3.5px;
}
header .menu li:first-child::after {
  display: none;
}
header .menu .list-inline-item:not(:last-child) {
  margin-right: 28px;
}
footer .hot-line {
  position: fixed;
  bottom: 27px;
  left: 80px;
  font-family: 'Roboto-Black';
  color: #000000;
  font-size: 1.500em;
}
.home-page h2 {
  font-family: 'UVNBachDangBold';
  text-transform: uppercase;
}
.home-page .store p {
  font-family: 'Roboto-Light';
  max-width: 838px;
  font-size: 2.125em;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */