
@font-face {
  font-family: 'UVNBachDangBold';
  src: url('UVNBachDangBold.eot?#iefix') format('embedded-opentype'),  url('UVNBachDangBold.woff') format('woff'), url('UVNBachDangBold.ttf')  format('truetype'), url('UVNBachDangBold.svg#UVNBachDangBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
